.overlay {
  backdrop-filter: blur(10px);
  will-change: opacity;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: DelaGothicOne, monospace;
  font-size: 5rem;
  position: absolute;
  left: 10px;
  bottom: 0;

  .name {
    opacity: 1;
  }

  .loading {
    font-size: 10rem;

    .letters {
      display: flex;

      .letter {
        display: block;
      }
    }
  }

  @media screen and (width <= 800px) {
    font-size: 3rem;
  }
}
