.container {
    position: absolute;
    bottom: 0%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin: 1rem;
    padding: 1rem;
    backdrop-filter: blur(10px);
    font-family: GeistMono;
    font-size: 11px;
    transition: opacity .2s ease-in-out;
    will-change: opacity;
    cursor: grab;
    box-shadow:  none;
    border-radius: 15px;
    mix-blend-mode: difference;
}

.open {
    visibility: visible;
    box-shadow: inset 1px 1px 5px #393434, inset -1px -1px 5px #4d4646;
    opacity: 1;
}

.close {
    visibility: hidden;
    opacity: 0;
}

.shortcut {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .key kbd {
        padding: 2px 5px;
        border-radius: 4px;
        background: var(--button-background);
        box-shadow: var(--button-box-shadow);
    }
}


.dragging {
    cursor: grabbing;
}