.overlay {
    position: absolute;
    gap: 5px;
    top: 0;
    margin: 10px;
    padding: .5rem 1rem;
    font-family: 'GeistMono';
    font-size: 11px;
    backdrop-filter: blur(10px);
    cursor: grab;

    border: 1px solid white;
    border-radius: 10px;
    user-select: none;

    .desktopWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .desktop {
            display: flex;
            align-items: center;
            gap: 5px;
    
            kbd {
                padding: 2px 5px;
                border-radius: 4px;
                background: #e0cdcd;
                background: var(--button-background);
                box-shadow: var(--button-box-shadow)
            }
        }
    }


}

.dragging {
    cursor: grabbing;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}