.overlay {
    margin: 10px;
    position: absolute;
    top: 0;
    padding: 1rem;
    font-family: 'GeistMono';
    font-size: 11px;
    backdrop-filter: blur(10px);
    cursor: grab;

    border: 1px solid white;
    border-radius: 10px;
    user-select: none;

    .desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        kbd {
            border: 1px solid white;
            padding: 2px 5px;
            border-radius: 5px;
        }
    }

}

.dragging {
    cursor: grabbing;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}