@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.overlay {
    backdrop-filter: blur(10px);
    will-change: opacity;
    transition: .2s ease-in-out;
    opacity: 1;
}

.loaded {
    opacity: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        object-fit: contain;
        position: absolute;
        transform: translate(0%, -70%);
    }

    .loading {
        margin-top: -1rem;
        font-family: 'dela gothic one';
    }
}